@model WillAssure.Models.CodocilModel
@{
    /**/

    ViewBag.Title = "CodocilPageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">


                        <h5 style="float:right; color:#199d4b;">DocumentType  : <span class="icon-doc" style="color:#199d4b;"><b>Codocil</b></span> </h5>




                        <div class="card-title text-primary">Codocil</div>
                        <hr class="div_rd">

                        <input type="hidden" name="name" id="userid" value="@Session["uuid"]" />

                        <div class="row">
                            <div class="col-sm-2">
                                <label for="input-1">Upload Old Will</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="file" name="name" value="" />
                            </div>
                        </div>

                        <br />


                        <div id='main0' class='mainbody' style='border:1px solid green;   padding:15px; border-radius:10px;'>

                            <div class='row'>
                                <div class='col-sm-2'>
                                    <div class='form-group'>
                                        <label for='input-1'>Selection</label>

                                        <select class='form-control input-shadow validate[required] beneficiaryclass' id='ddlselection0' onchange='checkbeneficiaryduplicate(this.id,this.value)'>
                                            <option value='0'>--Select--</option>
                                            <option value='beneficiary'>beneficiary</option>
                                            <option value='assets'>assets</option>
                                            <option value='executors'>executors</option>
                                            <option value='guardian'>guardian</option>
                                            <option value='liabilities'>liabilities</option>
                                        </select>

                                    </div>
                                </div>


                            </div>



                            <div class='row'>


                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for='input-1'>Old Details</label>


                                        <textarea class='form-control input-shadow' id='olddetails0' onchange='getolddetails(this.value,this.id)'></textarea>
                                    </div>
                                </div>


                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <label for='input-1'>New Details</label>

                                        <textarea class='form-control input-shadow' id='newdetails0' onchange='getnewdetails(this.value,this.id)'></textarea>
                                    </div>
                                </div>


                            </div>



                        </div>

                        <div id="getdata"></div>



                        <textarea class="form-control input-shadow" style="display:none;" id="appendquery"></textarea>
                        <textarea class="form-control input-shadow" style="display:none;" id="appendquery2"></textarea>

                        <br />

                        <div class="form-group">
                            <button class="btn btn btn-danger" id="btnadd"><i class="fa fa-plus" style="color:white;"></i>Add</button>
                            <button class="btn btn btn-danger" id="btnremove"><i class="fa fa-trash" style="color:white;"></i>Remove</button>
                            <button type="submit" id="btnsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Submit</button>

                        </div>


                    </div>
                </div>
            </div>
            <button type="button" id="btnRoleformsubmitSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" id="btnRoleformsubmitCHECK" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" id="btntestatorfamilysubmitSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        </div>


    </div>


</div>



<script>
    var i = 0;
    $(document).on("click", "#btnadd", function () {

        //var x = i++;

        //$("#main").clone().find("#olddetails").val("").end().find("#newdetails").val("").end().appendTo("#cpydiv");


           $.ajax({

                type: "POST",

                 url: "@Url.Action("getdatastructure", "Codocil")",
                //data: { "send": "" + data + "" },
                success: function (data) {

                    $("#getdata").append(data);


                }
            });


    });


    $(document).on("click", "#btnremove", function () {

        $(".card-body").find(".mainbody:not(:first-child):last").remove();
        e.preventDefault();




    });

    function getselectionval(value) {

        $("#appendquery").append("" + value + "_olddetails ," + value +"_newdetails" + ",")


    }

    function getolddetails(value,id) {
        $("#appendquery2").append("'" + value + "',")
    }


    function getnewdetails(value,id) {

        var x = $("#userid").val();

        $("#appendquery2").append("'" + value + "',")
    }



    $("#btnsubmit").click(function () {

        var data = $("#appendquery").val() + "~" + $("#appendquery2").val();

           $.ajax({

                type: "POST",

                 url: "@Url.Action("InsertCodocilData", "Codocil")",
                data: { "send": "" + data + "" },
                success: function (data) {



                }
            });


    });

</script>







<script>
    function checkbeneficiaryduplicate(id, value) {

        var fid = id.substring(12);



        //var dt = '';
        //var lang_name = $('#' + fid).val();
        //var selectedtext = $("#" + fid + " option:selected").text();
        //var check = 'active';
        //$(".beneficiaryclass").each(function () {
        //    var myid = $(this).attr('id').substring(12);


        //    var myval = $('#' + myid).val();
        //    if (id != myid) {
        //        if (lang_name == myval && lang_name != '') {
        //            alert(selectedtext + ' already exists');
        //            $("#" + id).val('0');
        //            check = 'inactive';
        //            return false;
        //        }

        //    }


        //});





        $("#appendquery").append(value + "_Olddetails," + value + "_newdetails,");


    }
</script>



@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {


            $("#btntestatorfamilysubmitSUCCESS").on("click", function () { });

            $("#btntestatorfamilysubmitSUCCESS").click(); //trigger event after listening to it.







        });
    </script>


    ViewBag.Message = null;

}
@*end*@
