
@{
    ViewBag.Title = "otpscreen";
    Layout = "~/Views/Shared/Willassure_LayoutPage.cshtml";
}




<style type="text/css">
    .bs-example {
        margin: 20px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<section class="flat-row page-careers">
    <div class="container">
        <div class="careers-open" style="padding-top: 70px">
            <div class="title-section text-center">
            

                <h1 class="otptitle">Verify OTP</h1>
                <div class="otpsub-title">
                    Please Enter OTP For Login.
                </div>
            </div>
            <div class="info-apply">
                <div class="row">
                    <style type="text/css">

                        .contactform span.title-form {
                            color: #4d4d4d
                        }

                        input[type="text"] {
                            margin-bottom: 15px;
                        }

                        .form-group {
                            margin-bottom: 0px;
                        }

                        .radio-inline {
                            margin-right: 15px;
                        }

                        .wrap-formrequest {
                            border: 1px solid #ddd;
                            border-radius: 10px;
                            padding: 15px
                        }
                    </style>
                 



                    <div class="col-sm-3"></div>
                   
                    <div class="row" id="otpcontent" style="border:1px solid black; padding:50px; border-radius:30px;">
                        <div class="col-sm-3"></div>
       
                        <div class="form-group col-sm-9">
                            <label for="input-1">Enter OTP:</label>
                            <input type="text" name="name" id="txtotp" onfocus="clearmsg()" onchange="checkotpentered(this.value)" class="form-control input-shadow" value="" />

                            <br />

                            <span id="otpmsg">Your OTP Will Expire In :<span style="position:relative;right:27px;" class="countdown"></span></span>
                            <br />
                            <span style="color:red;display:none" id="lblfailed"> * Failed</span>
                            <span style="color:red;display:none" id="lblemptycheck">* Please Enter Your OTP</span>
                            <span style="color:rgb(255, 102, 12);display:none" id="lblnew">Please Check Your Email For New OTP</span>
                            <span style="color:red; white-space:nowrap;" id="lblerror"></span>


                        </div>


                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <input type="button" id="btnverifyotp" style="color:white;" name="name" class="btn btn-success" value="Verify OTP" />
                            <input type="button" id="btnresend"  style="color:white; display:none; background-color:goldenrod;" name="name" class="btn btn-warning" value="Resend OTP" />
                            @*<button type="button" style="display:none;" id="btncancel" class="btn btn-danger">Cancel</button>*@
                        </div>







                    </div>


                    <center>
                        <h2 style="color:green; display:none;" id="otpheader">OTP has been already Verified....!</h2>
                    </center>


                </div>
            </div>
        </div>
    </div>
</section>












<script>

    function clearmsg() {
        $("#lblemptycheck").hide();
        $("#lblfailed").hide();
        
    }



    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }


    var userid = getUrlVars()["userid"];




    var timer2 = "1:01";
    var interval = setInterval(function () {

        
      

        var timer = timer2.split(':');
        //by parsing integer, I avoid all extra string processing
        var minutes = parseInt(timer[0], 10);
        var seconds = parseInt(timer[1], 10);
        --seconds;
        minutes = (seconds < 0) ? --minutes : minutes;
        if (minutes < 0) clearInterval(interval);
        seconds = (seconds < 0) ? 59 : seconds;
        seconds = (seconds < 10) ? '0' + seconds : seconds;
        //minutes = (minutes < 10) ?  minutes : minutes;
        $('.countdown').html(minutes + ':' + seconds);
        timer2 = minutes + ':' + seconds;

        if (minutes == 0 && seconds == 0) {

            $("#otpmsg").hide();
            $("#btnresend").show();
            $("#btncancel").show();
            $("#btnverifyotp").hide();
            $("#txtotp").attr('readonly', true);



        }




    }, 1000);




    $("#btnresend").click(function () {

        

             $.ajax({
                  type: "post",
                 url: "@Url.Action("Resendotp","Frontend")",
                 data: { "send": "" + userid +""},
                 success: function (data) {



                     if (data == "true") {

                         $("#lblnew").show();
                         $("#btnresend").hide();
                         $("#btnverifyotp").show();
                         $("#txtotp").attr('readonly', false);
                         $("#otpmsg").show();
                         var timer2 = "1:01";
                         var interval = setInterval(function () {




                             var timer = timer2.split(':');
                             //by parsing integer, I avoid all extra string processing
                             var minutes = parseInt(timer[0], 10);
                             var seconds = parseInt(timer[1], 10);
                             --seconds;
                             minutes = (seconds < 0) ? --minutes : minutes;
                             if (minutes < 0) clearInterval(interval);
                             seconds = (seconds < 0) ? 59 : seconds;
                             seconds = (seconds < 10) ? '0' + seconds : seconds;
                             //minutes = (minutes < 10) ?  minutes : minutes;
                             $('.countdown').html(minutes + ':' + seconds);
                             timer2 = minutes + ':' + seconds;

                             if (minutes == 0 && seconds == 0) {


                                 $("#btnresend").show();
                                 $("#btnverifyotp").hide();
                                 $("#otpmsg").hide();
                                 $("#lblnew").hide();

                             }




                         }, 1000);




                     }




          




            }
            });

    });








 $("#btnverifyotp").click(function () {

        var x = $("#txtotp").val();



        $.ajax({

            type: "POST",
            url: "@Url.Action("checkOTP", "VisitorData")",
            data: { "send": "" + x + "" },
            success: function (data) {

                if (data == "true") {
                    $("#lblsuccess").show();
                    $("#lblfailed").hide();
                    $("#btnverifyotp").removeAttr("disabled");

                    var url = "/LoginPage/LoginPageIndex?Type=message";
                    window.location.href = url;
                }

                if (data == "false") {
                    $("#lblfailed").show();
                    $("#txtotp").val("");
                    $("#lblsuccess").hide();
                    $("#lblemptycheck").hide();

                }

                if (data == "Empty") {

                    $("#lblemptycheck").show();

                }

    


            }
        });



    });






</script>




@if (ViewBag.alreadyverified == "true")
{
    <script>

        $(document).ready(function () {

            $("#otpcontent").hide();
            $("#otpheader").show();
            $(".otptitle").hide();
            $(".otpsub-title").hide();

        });

    </script>

}



