@{
    Layout = "~/Views/Shared/Willassure_LayoutPage.cshtml";
}
@{
    ViewBag.Title = "Regn";
}
<style type="text/css">
    .bs-example {
        margin: 20px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<section class="flat-row page-careers">
    <div class="container">
        <div class="careers-open" style="padding-top: 70px">
            <div class="title-section text-center">
                <h1 class="title" >Apply For Document</h1>
                <div class="sub-title" >
                    Please request to create document which you wants to create.
                </div>


                <h1 class="otptitle" style="display:none;">Verify OTP</h1>
                <div class="otpsub-title" style="display:none;">
                    Please Enter OTP For Login.
                </div>
            </div>
            <div class="info-apply">
                <div class="row">
                    <style type="text/css">

                        .contactform span.title-form {
                            color: #4d4d4d
                        }

                        input[type="text"] {
                            margin-bottom: 15px;
                        }

                        .form-group {
                            margin-bottom: 0px;
                        }

                        .radio-inline {
                            margin-right: 15px;
                        }

                        .wrap-formrequest {
                            border: 1px solid #ddd;
                            border-radius: 10px;
                            padding: 15px
                        }
                    </style>
                    <div class="col-lg-2 col-md-2">
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="wrap-formrequest" >
                            <form>
                                <input type="text" id="w" name="name" width="50" style="display:none;" />
                                <input type="text" id="c" name="name" width="50" style="display:none;" />
                                <input type="text" id="p" name="name" width="50" style="display:none;" />
                                <input type="text" id="g" name="name" width="50" style="display:none;" />
                                <input type="text" id="lw" name="name" width="50" style="display:none;" />

                                @*<textarea id="documenttype" name="documenttype" style="display:none;"></textarea>*@
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="email" style="font-weight: 700; font-size: 16px">Name:</label>
                                        <div style="float: left;"><input type="text" class="form-control input-shadow" id="txtfirstname" onchange="clearlblerror1()" placeholder="First Name"><span style="color:red; display:none" id="lblerror1">*Required</span></div>


                                    </div>

                                    <div class="form-group col-sm-4">
                                        <div><label for="email" style="font-weight: 700; font-size: 16px">Middle Name:</label></div>
                                        <div style="float: left;"><input type="text" class="form-control input-shadow" id="txtmiddlename" onchange="lblerror12()" placeholder="Middle Name"><span style="color:red; display:none" id="lblerror12">*Required</span></div>


                                    </div>

                                    <div class="form-group col-sm-4">
                                        <div><label for="email" style="font-weight: 700; font-size: 16px">Last Name:</label></div>
                                        <div style="float: left;"><input type="text" class="form-control input-shadow" id="txtlastname" onchange="lblerror13()" placeholder="Last Name"><span style="color:red; display:none" id="lblerror13">*Required</span></div>


                                    </div>




                                </div>



                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="email" style="font-weight: 700; font-size: 16px">Mobile:</label>
                                        <div style="float: left;"><input type="text" class="form-control input-shadow" id="txtcontact" onchange="check()" placeholder="Mobile No"><span style="color:red;display:none" id="lblerror2">*Required</span><span id="error" style="color: Red; display: none">*Invalid Mobile</span></div>


                                    </div>

                                    <div class="form-group col-sm-4">
                                        <div><label for="email" style="font-weight: 700; font-size: 16px">Email:</label></div>
                                        <div style="float: left;"><input type="text" class="form-control input-shadow" id="txtemail" onchange="lblerror3()" placeholder="Email Id" required><span style="color:red;display:none" id="lblerror3">*Required</span><span style="color:red;display:none" id="lblemailerr">*Invalid Email</span><span style="color:red;display:none" id="lbldup">*Email ID Already Register</span></div>


                                    </div>

                                    <div class="form-group col-sm-4">
                                        <div><label for="email" style="font-weight: 700; font-size: 16px">Date Of Birth:</label></div>
                                        <div style="float: left;"><input type="date" class="form-control input-shadow" id="txtdob" onchange="lblerrordob(this.value)" onkeydown="return false" placeholder="Date Of Birth"><span style="color:red; display:none" id="lblerrordate">*Required</span><span style="color:red; display:none" id="validatedob">*should be 18+ Year</span></div>


                                    </div>




                                </div>








                                <div class="form-group col-sm-12" style="float: left;">
                                    <div class="col-sm-12"><label for="email" id="lblrefdist" style="font-weight: 700; font-size: 16px; ">Ref Distributer:</label></div>
                                    <form>
                                        <label class='radio-inline'>
                                            <input type='radio' id='getvalone' class="" name='optradio' value='Distributor' checked>Distributor

                                        </label>
                                        <label class='radio-inline'>
                                            <input type='radio' id='getvaltwo' class="" name='optradio' value='NoDistributor'>No Distributor

                                        </label>
                                    </form>
                                    <div class="col-sm-12" style="float: left;">
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <select id="ddlDistributor" class="form-control input-shadow validate[required]"></select>
                                                <span style="color:red;display:none" id="lblerror4">*Required</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                                <div class="col-sm-12 text-right" style="float: left;">
                                    <button type="button" id="btnsubmit" class="btn btn-success ">Submit</button>
                                </div>
                            </form>
                            <button style="display:none;" class="btn btn-outline-primary btn-block m-1" id="btnotp" data-toggle="modal" data-target="#primarymodal" backdrop="static" data-keyboard="false">Primary</button>
                            <input type="button" style="display:none" class="btn btn-lg btn-primary launch-modal" value="Launch Demo Modal">
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="col-sm-3"></div>
                         <div class="row"  id="otpcontent" style="border:1px solid black; padding:50px; border-radius:30px; display:none;">
                        <div class="col-sm-3"></div>
                        <div class="form-group col-sm-9">
                            <label for="input-1">Enter OTP:</label>
                            <input type="text" name="name" id="txtotp"  onfocus="clearmsg()" onchange="checkotpentered(this.value)" class="form-control input-shadow" value="" />

                            <br />


                            <span style="color:red;display:none" id="lblfailed"> * Failed</span>
                            <span style="color:red;display:none" id="lblemptycheck">* Please Enter Your OTP</span>
                            <span style="color:red; white-space:nowrap;" id="lblerror"></span>


                        </div>


                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <input type="button" id="btnverifyotp" style="color:white;" name="name" class="btn btn-success" value="Verify OTP" />
                            <a href=""><button type="button" class="btn btn-danger">Cancel</button></a>
                        </div>







                    </div>







                </div>
            </div>
        </div>
    </div>
</section>











<script>
    $(document).ready(function () {
        $('.launch-modal').click(function () {
            $('#myModal').modal({
                backdrop: 'static'
            });
        });
    });
</script>

<script>

    function clearmsg() {
        $("#lblemptycheck").hide();
        $("#lblfailed").hide();
    }

    //NW
    function checkotpentered(value) {

        var data = $("#txtotp").val();
      
        $.ajax({

            type: "POST",
            url: "@Url.Action("checkOTP","checkenteredOTP")",
            data: { "send": "" + data + "" },
            success: function (data) {
                //alert(data);



            }
        });


    }


    function clearlblerror1() {

        $("#lblerror1").hide();
    }
    function lblerror2() {

        $("#lblerror2").hide();
        $("#error").hide();


    }

    function lblerrordob(value) {


       $.ajax({

            type: "POST",
            url: "@Url.Action("validatedate", "VisitorData")",
           data: { "send": "" + value + "" },
            success: function (data) {


                if (data == "true") {
                    $("#validatedob").hide()
                }

                if (data == "false") {

                    $("#validatedob").show()
                    $("#txtdob").val("");
                }

            }
        });




        $("#lblerrordate").hide();
        $("#error").hide();


    }

    function lblerror3() {

        $("#lblerror3").hide();

        var email_reg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

        var emailinput = $('#txtemail').val();
        if (email_reg.test(emailinput) == false) {

            $("#lblemailerr").show();
        }

        if (email_reg.test(emailinput) == true) {

            $("#lblemailerr").hide();
        }

        var data = $("#txtemail").val();

        $.ajax({

            type: "POST",
            url: "../VisitorData/checkemailduplicate",
            data: { "send": "" + data + "" },
            success: function (data) {

                if (data == "true") {

                    $("#lbldup").hide();
                }

                if (data == "false") {
                    $("#lbldup").show();
                    $("#txtemail").val("");
                }


            }
        });




    }
    function lblerror4() {

        $("#lblerror4").hide();
    }
    function lblerror12() {

        $("#lblerror12").hide();
    }
    function lblerror13() {

        $("#lblerror13").hide();
    }


    $(document).ready(function () {
        $("#lblerror1").hide();
        $("#lblerror2").hide();
        $("#lblerror3").hide();
        $("#lblerror4").hide();
        $("#lblerror12").hide();
        $("#lblerror13").hide();
        $("#lblerrordate").hide();

    });


    $("#btnsubmit").click(function () {


      

        //var getValuesSelected = $("#w").val().trim() + $("#c").val().trim() + $("#p").val().trim() + $("#g").val().trim() + $("#lw").val().trim();
        //  alert(getValuesSelected);



        //var i = 0;





        //if ($(".chk").prop("checked") == false || $(".chk").prop("checked") == false || $(".chk").prop("checked") == false || $(".chk").prop("checked") == false || $(".chk").prop("checked") == false) {
        //    $("#lblcheck").show();
        //    i = 1;
        //}


        if (!$('.chk').is(':checked')) {
            $("#lblcheck").show();
            //return false;
        }
        if ($("#txtfirstname").val() == "") {
            $("#lblerror1").show();
            //i = 1;
        }

        if ($("#txtmiddlename").val() == "") {
            $("#lblerror12").show();
            //i = 1;
        }


        if ($("#txtlastname").val() == "") {
            $("#lblerror13").show();
            //i = 1;
        }

        if ($("#txtcontact").val() == "") {
            $("#lblerror2").show();
            //i = 1;
        }



        if ($("#txtdob").val() == "") {
            $("#lblerrordate").show();
            //i = 1;
        }



        if ($("#txtemail").val() == "") {
            $("#lblerror3").show();
            //i = 1;
        }





        if ($("#getvalone").prop("checked") == true) {

            if ($("#ddlDistributor").val() == "") {
                $("#lblerror4").show();
            }
        }
        if ($("#getvaltwo").prop("checked") == true) {


            var data = $("#txtfirstname").val() + "~" + $("#txtmiddlename").val() + "~" + $("#txtlastname").val() + "~" + $("#txtcontact").val() + "~" + $("#txtemail").val() + "~" + $("#ddlDistributor").val() + "~" + $("#txtdob").val();



            $.ajax({

                type: "POST",
                url: "../VisitorData/VisitorDataIndex",
                data: { "send": "" + data + "" },
                success: function (data) {

                    if (data == "true") {
                        alert("Records Inserted SuccessFully Please Check Your Email For OTP");


                        ////$('#primarymodal').modal('show');

                        //$(".launch-modal").on("click", function () { });

                        //$(".launch-modal").click(); //trigger event after listening to it.


            





                        $("#txtfirstname").val("");
                        $("#txtmiddlename").val("");
                        $("#txtlastname").val("");
                        $("#txtcontact").val("");
                        $("#txtemail").val("");
                        $("#ddlDistributor").val("");



                        $("#checkone").prop("checked", false);
                        $("#checktwo").prop("checked", false);
                        $("#checkthree").prop("checked", false);
                        $("#checkfour").prop("checked", false);
                        $("#checkfive").prop("checked", false);


                        $("#lblsuccess").hide();
                        $("#lblfailed").hide();
                    }
















                }


            });
        }





        //   }




    });









    //$(document).ready(function () {


    //    $.ajax({

    //        type: "POST",
    //        url: "../VisitorData/binddocument",
    //        success: function (data) {

    //            $("#documentpricing").append(data);


    //        }
    //    });






    //});



    $("#btnverifyotp").click(function () {

        var x = $("#txtotp").val();

       

        $.ajax({

            type: "POST",
            url: "@Url.Action("checkOTP", "VisitorData")",
            data: { "send": "" + x + "" },
            success: function (data) {
               
                if (data == "true") {
                    $("#lblsuccess").show();
                    $("#lblfailed").hide();
                    $("#btnverifyotp").removeAttr("disabled");

                    var url = "/LoginPage/LoginPageIndex?Type=message";
                    window.location.href = url;
                }

                if (data == "false") {
                    $("#lblfailed").show();
                    $("#lblsuccess").hide();
                    $("#lblemptycheck").hide();

                }

                if (data == "Empty") {

                    $("#lblemptycheck").show();

                }

                //$('#primarymodal').modal('hide');
                //$("#txtotp").val("");



            }
        });



    });






    $(document).ready(function () {


        $.ajax({

            type: "POST",
            url: "../VisitorData/BindDistributorDDL",
            success: function (data) {



                $("#ddlDistributor").append(data);


            }
        });






    });

</script>

<script>


    $("#checkone").click(function () {




        if ($("#checkone").is(":checked")) {


            var x = $("#checkone").val();
            // $("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
            $("#w").val(x);

            $("#willtype").show();


        }
        else {
            //var a = $("#w").val();
            //alert(a);

            $("#w").val('');


            $("#willtype").hide();

        }

        $("#lblcheck").hide();

    });




    $("#checktwo").click(function () {



        if ($("#checktwo").is(":checked")) {
            var x = $("#checktwo").val();
            //  $("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
            $("#c").val(x);


        }
        else {

            $("#c").val('');

        }

        $("#lblcheck").hide();

    });



    $("#checkthree").click(function () {

        if ($("#checkthree").is(":checked")) {
            var x = $("#checkthree").val();
            //  $("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
            $("#p").val(x);

        }
        else {

            $("#p").val('');
        }
    });


    $("#checkfour").click(function () {

        if ($("#checkfour").is(":checked")) {
            var x = $("#checkfour").val();
            //$("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
            $("#g").val(x);

        }

        else {
            $("#g").val('');
        }

        $("#lblcheck").hide();


    });


    $("#checkfive").click(function () {

        if ($("#checkfive").is(":checked")) {
            var x = $("#checkfive").val();
            //$("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
            $("#lw").val(x);

        }
        else {

            $("#lw").val('');
        }

        $("#lblcheck").hide();


    });



    $(document).on("change", "#getvalone", function () {

        $("#ddlDistributor").show();



    });

    $(document).on("change", "#getvaltwo", function () {

        $("#ddlDistributor").hide();
        $("#lblerror4").hide();

    });

</script>

<script type="text/javascript">
    function check() {



        var mobilereg = /[1-9]{1}[0-9]{9}/;

        var mobileinput = $('#txtcontact').val();
        if (mobilereg.test(mobileinput) == false) {

            $("#error").show();
        }

        if (mobilereg.test(mobileinput) == true) {

            $("#error").hide();
            $("#lblerror2").hide();
        }

    }
</script>
